.App-container {
  width: 60%;
  margin: 0 auto;
  color:#666;
}
.App-container form, .App-container label {
  width: 100%;
}

.App-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.podcast-summary {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 3rem;
}

.podcast-image img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.podcast-title {
  font-size: 1.5rem;
  margin: 0;
}

.podcast-description {
  font-size: 1rem;
  margin: 10px 0;
  color: #555;
}
